:root {
    --DarkBlue: #002244;
    --Blue: #0072CE;
    --DarkGreen: #00594C;
    --Green: #00A77E;
  }

header {
    background-color: none; 
    color: var(--Green); 
    padding: 20px; 
    text-align: center; 
  }
  
  h1 {
    font-size: 24px; 
    margin: 0; 
  }
  
  p {
    font-size: 14px; 
    margin: 10px 0 0; 
  }
  