.counter-container {
    position: relative;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que la imagen de fondo esté detrás de los otros elementos */
  }
  
  .moving-image-increase,
  .moving-image-decrease {
    position: absolute;
    top: 50%;
    height: 100px; /* Tamaño del carro */
    animation-duration: 2s; /* Duración de la animación */
    animation-timing-function: linear; /* Función de temporización de la animación */
    animation-fill-mode: forwards; /* Mantener la posición final de la animación */
  }
  
  .moving-image-increase {
    left: -100px; /* Posición inicial fuera del contenedor */
    animation-name: moveRight; /* Nombre de la animación */
  }
  
  .moving-image-decrease {
    right: -100px; /* Posición inicial fuera del contenedor */
    animation-name: moveLeft; /* Nombre de la animación */
  }
  
  @keyframes moveRight {
    0% {
      left: -100px;
    }
    100% {
      left: 100%; /* Posición final fuera del contenedor */
    }
  }
  
  @keyframes moveLeft {
    0% {
      right: -100px;
    }
    100% {
      right: 100%; /* Posición final fuera del contenedor */
    }
  }
  