.formContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem; /* Espacio entre los elementos */
  }
  
  .inputContainer {
    font-size: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espacio entre los elementos */
  }
  .priorityContainer {
    width: 106%; /* Ancho del contenedor igual al 100% del contenedor padre */
    font-size: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Espacio entre los elementos */
  }

  .inputContainer label,
  .priorityContainer label {
  font-size: 15px; /* Tamaño de la fuente */
  text-align: left; /* Alineación a la izquierda */
}
  
  .taskInput {
    font-size: medium;
    padding: 0.5rem 1rem; /* Modificamos el padding */
    width: 100%;
    border: none;
    border-radius: 10px;
  }
  
  .selectInput {
    font-size: medium;
    padding: 0.5rem 1rem; /* Modificamos el padding */
    border: none;
    border-radius: 10px;
  }
  