  button {
    border-radius: 50px;
    border: 1px solid transparent;
    color: var(--DarkBlue);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
  }
  
  .add {
    background-color: var(--Green);
    width: 12vh;
    height: 7vh;
    margin: 2vh 0;
    padding: 2vh 3vh;
    box-shadow: -3px 0 6px var(--DarkGreen);
  }
  
  .erase {
    border: 1px solid var(--DarkBlue);
    background-color: white;
    width: 5vh;
    height: 5vh;
    font-size: small;
    color: var(--DarkBlue);
    transition: all 0.25s;
    box-shadow: 0 0 6px rgba(119, 180, 245, 0.8);
  }
  
  .clearAll {
    background-color: var(--Blue);
    border: 2px solid var(--DarkBlue);
    color: white;
    font-size: small;
    width: 12vh;
    height: 4vh;
    margin-top: 15px;
    padding: 0.5vh;
    box-shadow: -3px 0 6px var(--Blue);
  }
  