@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.gif-section-title-companies {
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 32px;
    color: #333;
  }
  
  .second-gif-container-companies {
    text-align: center;
    margin-top: 20px;
  }
  
  .gif-image2-companies {
    width: 100%;
    max-width: 1300px;
  }

  .image-companies img{
    display: none;
  }
  
  @media only screen and (max-width: 844px) {
    .gif-section-title-companies {
      font-size: 24px;
    }
  
    .gif-image2-companies {
      display: none;
    }
  
    .image-companies img{
    display: block;
    width: 100%;
        }
  }