@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
  background-image: url('https://img.freepik.com/foto-gratis/fondo-verde-hierba-falsa_53876-16313.jpg?w=1800&t=st=1708644425~exp=1708645025~hmac=9b10ee10becf89b8a40e9d23a9b5a04447d7cb7a50772611b9dfc3715d184383');
  background-size: cover; 
  background-position: center; 
}

.counter-container-buttons {
  margin-left: 450px;
}

.counter-container-buttons h1 {
  font-size: 50px;
  font-family: 'Anta';
  margin-left: 270px;
  color: aliceblue;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.background-image {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: -1; 
  margin-top: 80px;
}

.moving-image-increase {
  position: absolute;
  top: 350px;
  height: 100px; 
  animation-duration: 2s; 
  animation-timing-function: linear; 
  animation-fill-mode: forwards; 
}

.moving-image-decrease {
  position: absolute;
  top: 530px;
  height: 100px;
  animation-duration: 2s; 
  animation-timing-function: linear;
  animation-fill-mode: forwards; 
}

.moving-image-increase {
  left: -100px; 
  animation-name: moveRight; 
}

.moving-image-decrease {
  right: -100px; 
  animation-name: moveLeft; 
}

@keyframes moveRight {
  0% {
    left: -100px;
  }
  100% {
    left: 100%; 
  }
}

@keyframes moveLeft {
  0% {
    right: -100px;
  }
  100% {
    right: 100%; 
  }
}
